
*.js
node_modules/discord-api-types/v9.d.ts
node_modules/discord-api-types/v6.mjs
node_modules/discord-api-types/v10.d.ts.map
*.map
node_modules/util-deprecate/LICENSE
*.ts
*.ts
*.json
*.md
node_modules/fast-deep-equal/LICENSE
*.mjs
*.cjs
node_modules/file-type/license
node_modules/@discordjs/builders/LICENSE
node_modules/@discordjs/builders/LICENSE
node_modules/@discordjs/builders/node_modules/discord-api-types/LICENSE
node_modules/@discordjs/builders/node_modules/discord-api-types/LICENSE
node_modules/@discordjs/collection/LICENSE
node_modules/@discordjs/collection/LICENSE
node_modules/@discordjs/rest/LICENSE
node_modules/@discordjs/rest/LICENSE
node_modules/@discordjs/rest/node_modules/discord-api-types/LICENSE
node_modules/@discordjs/rest/node_modules/discord-api-types/LICENSE
node_modules/@types/node/LICENSE
node_modules/@types/node/LICENSE
*.txt
*.html
*.wasm
*.png
node_modules/@types/ws/LICENSE
node_modules/discord-api-types/LICENSE
node_modules/ieee754/LICENSE
node_modules/lodash.snakecase/LICENSE
node_modules/lodash.uniqwith/LICENSE
node_modules/readable-stream/LICENSE
node_modules/string_decoder/LICENSE
node_modules/token-types/LICENSE
node_modules/undici/lib/fetch/LICENSE
node_modules/undici/LICENSE
node_modules/strtok3/LICENSE
node_modules/strtok3/LICENSE
node_modules/ts-mixer/LICENSE
node_modules/peek-readable/LICENSE
node_modules/peek-readable/LICENSE
node_modules/ws/LICENSE
node_modules/inherits/LICENSE
node_modules/safe-buffer/LICENSE
*.mts
